<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE beans [
    <!ELEMENT beans (bean*)>
    <!ELEMENT bean (property*)>
    <!ELEMENT property (#PCDATA)>

    <!ATTLIST bean id ID #REQUIRED>
    <!ATTLIST bean class CDATA #IMPLIED>
    <!ATTLIST property name CDATA #IMPLIED>
    <!ATTLIST property ref IDREF #IMPLIED>
]>

<beans>
    <bean id="page" class="com.myssm.myspringmvc.PageController"/>

    <!-- DAO -->
    <bean id="userDAO" class="com.bookstore.dao.impl.UserDAOImpl"/>
    <bean id="bookDAO" class="com.bookstore.dao.impl.BookDAOImpl"/>
    <bean id="cartItemDAO" class="com.bookstore.dao.impl.CartItemDAOImpl"/>
    <bean id="orderDAO" class="com.bookstore.dao.impl.OrderDAOImpl"/>
    <bean id="orderItemDAO" class="com.bookstore.dao.impl.OrderItemDAOImpl"/>

    <!-- service -->
    <bean id="userService" class="com.bookstore.service.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
    </bean>
    <bean id="bookService" class="com.bookstore.service.impl.BookServiceImpl">
        <property name="bookDAO" ref="bookDAO"/>
    </bean>
    <bean id="cartItemService" class="com.bookstore.service.impl.CartItemServiceImpl">
        <property name="bookService" ref="bookService"/>
        <property name="cartItemDAO" ref="cartItemDAO"/>
    </bean>
    <bean id="orderService" class="com.bookstore.service.impl.OrderServiceImpl">
        <property name="orderDAO" ref="orderDAO"/>
        <property name="orderItemDAO" ref="orderItemDAO"/>
        <property name="cartItemDAO" ref="cartItemDAO"/>
    </bean>

    <!-- controller -->
    <bean id="user" class="com.bookstore.controller.UserController">
        <property name="userService" ref="userService"/>
        <property name="cartItemService" ref="cartItemService"/>
    </bean>
    <bean id="book" class="com.bookstore.controller.BookController">
        <property name="bookService" ref="bookService"/>
    </bean>
    <bean id="cart" class="com.bookstore.controller.CartController">
        <property name="cartItemService" ref="cartItemService"/>
    </bean>
    <bean id="order" class="com.bookstore.controller.OrderController">
        <property name="orderService" ref="orderService"/>
    </bean>

</beans>